<!DOCTYPE html>
<html>
<head>
  <title>Mechacoach</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <main>
    <h1>Mechacoach</h1>
    <h2>Load pairs into the pair poster</h2>

    <%= styled_flash %>

    <form action="/pairs" method="post", enctype="multipart/form-data">
      <label for="team">
        <span>Team</span>
        <select name="team">
          <option default value="makersstudents">makersstudents</option>
          <option value="makersapprenticeships">makersapprenticeships</option>
        </select>
      </label>
      <label for="cohort">
        <span>Channel</span>
        <input type="text" name="cohort" placeholder="e.g. october2015" required>
      </label>
      <label for="pairs">
        <span>.pairs file</span>
        <input type="file" name="pairs" required>
      </label>
      <input type="submit" value="Submit">
    </form>
  </main>
</body>
</html>
