rps-challenge:
  document_id: 1iUOogNEaOrD1VjZd-1Zqf_xRDZtdIvYwez91eQKVRH0
  worksheet_id: 299100708
chitter-challenge:
  document_id: 1szqWCnajnrz5sd4u_iTF-hiXr80uXsF9ZMOe2WBQSVQ
  worksheet_id: 1291295725
bowling-challenge:
  document_id: 1DxFAHuoub4MnIuRNDOfoCaUWNgrt9Z3LzGUfD6kMubs
  worksheet_id: 1291295725
