airport_challenge:
  document_id: 1CWWxo33ZODo6QcFRjOAdD_cR7HZQ0wX5NEmWc28vDSs
  worksheet_id: 942948363
takeaway-challenge:
  document_id: 1qjpYIDWORlAJ3kjbqKRlLEg7CH6xt1B9XPNwb7wSasI
  worksheet_id: 438083434
rps-challenge:
  document_id: 1iUOogNEaOrD1VjZd-1Zqf_xRDZtdIvYwez91eQKVRH0
  worksheet_id: 299100708
chitter-challenge:
  document_id: 1szqWCnajnrz5sd4u_iTF-hiXr80uXsF9ZMOe2WBQSVQ
  worksheet_id: 1291295725
bowling-challenge:
  document_id: 1DxFAHuoub4MnIuRNDOfoCaUWNgrt9Z3LzGUfD6kMubs
  worksheet_id: 1291295725
instagram-challenge:
  document_id: 1kM3yTNcc8O-65a95pxtnoDGRZhDASd2eS3hphZPuLzQ
  worksheet_id: 10627036
todo_challenge:
  document_id: 1e49xFT52yIEYVvGsnUNWGTR25qPLarRshz0w02Fhdg8
  worksheet_id: 10627036
