html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
  background: #fafafa;
}

main {
  max-width: 640px;
}

h1 {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 900;
  line-height: 0.9;
  color: #eee;
  opacity: 0.1;

  animation: circus 4s infinite alternate ease-in-out, fade 3s infinite alternate ease-in-out;
}

@-webkit-keyframes fade {
  from { opacity: 0.1; }
  to   { opacity: 0.2; }
}

@-webkit-keyframes circus {
  from { color: #00f; }
  to   { color: #f00; }
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  white-space: pre;
  margin-bottom: 2rem;
  color: #cfcfcf;
  text-align: right;
  opacity: 0.7
}

label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

label span {
  display: inline-block;
  width: 120px;
}

small {
  font-size: 10px;
  color: #777;
}

input[type="submit"] {
  margin-top: 2rem;
  display: block;
}

#flash {
  position: absolute;
  top: 0;
  height: 2.4rem;
  background: #ccc;
  width: 100%;
  left: 0;
}

.flash {
  position: absolute;
  color: white;
  left: 50%;
  width: 640px;
  font-size: 16px;
  margin-left: -320px;
  line-height: 2.4rem;
  text-align: center;
}