<h1>Mechacoach</h1>
<h2>Load pairs into the pair poster</h2>

<%= styled_flash %>

<form action="/load-pairs" method="post", enctype="multipart/form-data">
  <label for="cohort">
    Use the precise form of the cohort channel name from Slack, without the prepended #. e.g. october2015
    <input type="text" name="cohort" placeholder="e.g. october2015">
  </label>
  <label for="pairs">
    Pairs file (.txt)
    <input type="file" name="pairs">
  </label>
  <input type="submit" value="Submit">
</form>
